// COLORS

/**
 * Default modifiers.
 */
$shade: 7%
$shadow-opacity: 0.25
/**
 * Base.
 */
$black: #000
$white: #fff
$transparent: rgba(0, 0, 0, 0)
/**
 * Greys
 */
$darker-grey: #17181c
$dark-grey: #111116
$medium-grey: #3d3f4d
/**
 * Highlight colors.
 */
$green: #3cb371
$blue: #1f6fe0
$pale-blue: #30b5b5
$yellow: #ffcb00
$orange: #ff7f50
$red: #cf0a1d
// Named colors
$primary: $blue
$secondary: $pale-blue
$success: $green
$warning: $orange
$danger: $red

// SPACES

/**
 * Unit for the spaces.
 */
$spaceUnit: 'rem'
/**
 * Basic spaces sizes.
 */
$space-xss: 0.125
$space-xs: 0.25
$space-s: 0.33
$space-sm: 0.5
$space-ms: 0.75
$space-md: 1
$space-lg: 2
$space-xl: 4
$space-xxl: 8

// TEXT 

// Main default font
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap')
// Creates the main font family
$default-font-family: 'Barlow', sans-serif
/**
 * Unit for the text.
 */
$fontUnit: 'rem'
/**
 * Basic fonts sizes.
 */
$font-size-tiny: 0.5
$font-size-ultra-small: 0.65
$font-size-small: 0.8
$font-size-normal: 1
$font-size-large: 1.5
$font-size-ultra-large: 2
$font-size-big: 3
$font-size-ultra-big: 6
/**
 * Basic fonts weights.
 */
$font-weight-thin: 100
$font-weight-ultra-light: 200
$font-weight-light: 300
$font-weight-regular: 400
$font-weight-medium: 500
$font-weight-semi-bold: 600
$font-weight-bold: 700
$font-weight-extra-bold: 800
$font-weight-black: 900

// OTHER SIZES

// Base sizes
$tiny-height: 1.25rem
$small-height: 1.5rem
$normal-height: 1.75rem
$large-height: 2.35rem
// Border radius
$tiny-border-radius: 0.095rem
$small-border-radius: 0.125rem
$normal-border-radius: 0.25rem
$large-border-radius: 0.5rem
// Material icons size
$tiny-icon-size: 14px
$small-icon-size: 16px
$normal-icon-size: 18px
$large-icon-size: 24px