.is-flex
  display: flex
  flex-direction: row

.is-flex-column
  display: flex
  flex-direction: column

.is-inline-flex
  display: inline-flex
  flex-direction: row

.is-inline-flex-column
  display: inline-flex
  flex-direction: row

.flex-grow
  flex-grow: 1

.flex-shrink
  flex-shrink: 1

.is-flex,
.is-inline-flex,
.is-flex-column,
.is-inline-flex-column
  &.align-center
    align-items: center
  &.justify-center
    justify-content: center
  &.center
    @extend .align-center
    @extend .justify-center