.is-rounded
  border-radius: $normal-border-radius

.is-rounded-top-left
  border-top-left-radius: $normal-border-radius

.is-rounded-bottom-left
  border-bottom-left-radius: $normal-border-radius

.is-rounded-bottom-right
  border-bottom-right-radius: $normal-border-radius

.is-rounded-top-right
  border-top-right-radius: $normal-border-radius

.has-border-none
  border: none

.is-disabled
  opacity: 0.5

.is-hidden
  visibility: hidden

.has-shadow
  box-shadow: 0.25rem 0.125rem 0.5rem rgba($black, $shadow-opacity)