html,
body
  font-family: $default-font-family
  @extend .has-primary-background
  @extend .has-text-normal
  @extend .is-fullsize
  @extend .has-margin-0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale